<div class="col-sm-4">
  <% if @a == 0      %>
    <%= @str       %>
  <% else %>
        <% count = 0 %>
        <% while count < @nbr %>

            <% j = @pp[count] %>

                 <% if j[0] == 1 %>

                              <div class="card profile-view">
                                <div class="pv-header <%=count%>">
                                    <img src="<%= j[6]        %>" class="pv-main" alt="">
                                </div>

                                <div class="pv-body">
                                    <h2><%= j[3]           %></h2>
                                    <small>Cette Personne a été reconnu avec un taux de <%= j[2]     %> %</small>

                                    <ul class="pv-contact">
                                        <li><i class="zmdi zmdi-pin"></i><%= j[1]      %></li>
                                        <li><i class="zmdi zmdi-phone"></i><%= j[5]          %></li>
                                        <li><i class="zmdi zmdi-broken-image"></i><%= j[2]     %> %</li>
                                    </ul>
                                    
                                    <ul class="pv-follow">
                                      <a href="<%= j[4]       %>">LinkedIN</a>
                                    </ul>
                                    
                                </div>
                              </div>
                <% else %>
                            <div class="card profile-view">
                                <div class="pv-header">
                                    <img src="http://www.babelio.com/users/AVT_Unknown_340.gif" class="pv-main" alt="">
                                </div>

                                <div class="pv-body">
                                    <h2>UNKNOWN</h2>
                                    <small><%= @str2     %> %</small>

                                    <ul class="pv-contact">
                                    </ul>
                                    
                                    <ul class="pv-follow">
                                    </ul>
                                    
                                </div>
                              </div>
                <% end %>
          <% count += 1 %>
        <% end %>
  <% end %>
</div>
