<div class="col-sm-4">
        <% count = 0 %>
        <% while count != @nbr %>

                 <% if @pp[count][0] == 1 %>

                              <div class="card profile-view">
                                <div class="pv-header">
                                    <img src="<%= @pp[count][6]        %>" class="pv-main" alt="">
                                </div>

                                <div class="pv-body">
                                    <h2><%= @pp[count][3]           %></h2>
                                    <small>Cette Personne a été reconnu avec un taux de <%= @pp[count][2]     %> %</small>

                                    <ul class="pv-contact">
                                        <li><i class="zmdi zmdi-pin"></i><%= @pp[count][1]      %></li>
                                        <li><i class="zmdi zmdi-phone"></i><%= @pp[count][5]          %></li>
                                        <li><i class="zmdi zmdi-broken-image"></i><%= @pp[count][2]     %> %</li>
                                    </ul>
                                    
                                    <ul class="pv-follow">
                                      <a href="<%= @pp[count][4]       %>">LinkedIN</a>
                                    </ul>
                                    
                                </div>
                              </div>
                <% else %>
                  lol
                <% end %>
          <% count += 1 %>
        <% end %>
</div>
