<div class="col-sm-4">
        <% count = 0 %>
        <% while count != @nbr %>

                 <% if @pp[count][0] == 0 %>

                              <div class="card profile-view">
                                <div class="pv-header">
                                    <img src="<%= @pp[count][6]        %>" class="pv-main" alt="">
                                </div>

                                <div class="pv-body">
                                    <h2><%= @pp[count][3]           %></h2>
                                    <small>Cette Personne a été reconnu avec un taux de <%= @pp[count][2]     %> %</small>

                                    <ul class="pv-contact">
                                        <li><i class="zmdi zmdi-pin"></i><%= @pp[count][1]      %></li>
                                        <li><i class="zmdi zmdi-phone"></i><%= @pp[count][5]          %></li>
                                        <li><i class="zmdi zmdi-broken-image"></i><%= @pp[count][2]     %> %</li>
                                    </ul>
                                    
                                    <ul class="pv-follow">
                                      <a href="<%= @pp[count][4]       %>" target="_blanck">LinkedIN</a>
                                    </ul>
                                    
                                </div>
                              </div>
                <% else %>
                            <div class="card profile-view">
                                <div class="pv-header">
                                    <img src="http://www.babelio.com/users/AVT_Unknown_340.gif" class="pv-main" alt="">
                                </div>

                                <div class="pv-body">
                                    <h2>UNKNOWN</h2>
                                    <small><%= @str2     %> %</small>

                                    <ul class="pv-contact">
                                    </ul>
                                    
                                    <ul class="pv-follow">
                                    </ul>
                                    
                                </div>
                              </div>
                <% end %>
          <% count += 1 %>
        <% end %>
</div>
<div class="col-sm-4">
        <% count = 0 %>
        <% while count != @nbr %>
            <div class="card profile-view">
                            <div class="epc-item bgm-white">
                                <div class="easy-pie main-pie" data-percent="88">
                                    <div class="percent">88</div>
                                    <div class="pie-title">De réussite</div>
                                <canvas height="296" width="296" style="height: 148px; width: 148px;"></canvas></div>
                            </div>
             </div>
          <% count += 1 %>
        <% end %>
</div>
        
        <script src="vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="vendors/bower_components/moment/min/moment.min.js"></script>
        <script src="vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
        <script src="vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
        <script src="vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
        <script src="vendors/bower_components/autosize/dist/autosize.min.js"></script>
        <script src="vendors/bower_components/mediaelement/build/mediaelement-and-player.js"></script>
